@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

html,
body,
#root {
  height: 100%;
}

.animate-ping {
  animation: ping 1s steps(1, end) infinite !important;

  @keyframes ping {

    0% {
      opacity: 1;
    }

    100% {
      opacity: 0;
    }
  }
}

@theme {
  --shadow-sandy:
    0px 2px 3px -1px rgba(0, 0, 0, 0.1),
    0px 1px 0px 0px rgba(25, 28, 33, 0.02),
    0px 0px 0px 1px rgba(25, 28, 33, 0.08);
}